.page-preview {
  #box2 {
    display: none;
  }
}
.page-preview-draft {
  .preview-draft-modal-heading {
    margin: 0 0 .5em;
  }
  .preview-draft-modal-notices {
    margin: .5em 0;
  }
  .preview-draft-modal-notices,
  .preview-draft-modal-help {
    font-size: $fz-xsmall;
  }
}
